.experiance {
  &-items {
    & > li {
      display: flex;
      justify-content: space-between;

      & > .company-info {
        flex: 0 0 170px;
        width: 170px;

        & > .name {
          color: #000;

          margin-top: 10px;
        }

        & > p {
          font-size: 14px;
          font-weight: 500;

          color: $light-blue-color;
        }
      }

      & > .description {
        flex: 1;

        margin-left: 30px;

        & > .profession {
          font-weight: 500;

          margin-bottom: 10px;
        }

        & > .text {
          font-size: 14px;
        }

        & > .text-list {
          margin-top: 8px;
          padding-left: 18px;

          list-style-type: disc;

          & > li {
            font-size: 13px;

            color: #444;

            margin-bottom: 4px;

            &::marker {
              color: $title-line-color;
            }
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    &-items {
      & > li {
        flex-direction: column;
        justify-content: normal;

        & > .description {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }
}
